/* general text formatting */

h1, h2, h3, nav, footer {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}
body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 100%;
}

table {
   width: 20em;
   height: 17em;
   margin: 10em 0em;
   background-color: #FFFFFF;
   position: relative;
   left: 38%;
   transform: translate(-0%, -43%);
   padding: .2em;
}

.head {
   height: 1em;
   color: #0000FF;
}

caption {
   background-color: #A0F0A0;
   margin: .3em .3em 0em .3em;
   padding: .5em;
   size: 8em 8em;
}

td {
   size: 8em;
   text-align: center;
   border: .1em #808080;
   border-style: solid outset;
   background: #F0F0F0;
}

#meet {
   color: #FFFFFF;
   background-color: #A0F0A0;
   }

/*
td:nth-child(3) {
   color: #FFFFFF;
   background-color: #A0F0A0;
}
*/

.inForm {
   height: 15em;
   width: 25em;
   border: solid .1em;
   background-color: #806020;
   position: relative;
   left: 35%;
   transform: translate(-0%, -548);

}

form {
   padding: 0em 1em;
}

